body {
  margin: 0;
  background-image: url(back3.png);
}

/* TODO AWAL HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  padding-bottom: 0;
  margin-left: 100px;
  margin-right: 100px;
  background-color: black;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.header ul li {
  float: right;
  margin: 5px;
  padding: 0;
  display: inline-block;
}

.header ul li a {
  padding: 5px 25px;
  border: 1px solid transparent;
  transition: 0.6s ease;
  font-family: arial;
  text-decoration: none;
  font-weight: bold;
  color: white;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
}

.header ul li a:hover {
  background-color: white;
  color: black;
}

.header ul img {
  float: left;
  width: 175px;
  height: 35px;
}

.container {
  display: grid;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(back.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

/* TODO AWAL MAIN-HEADER */
.main-header {
  padding: 0;
  padding-bottom: 42vh;
  margin: auto;
  margin-top: 30vh;
}

.main-header h1 .head1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px;
}

.head1 {
  text-shadow: 3px 2px 1px black;
  font-weight: 800;
  color: white;
  font-size: 50px;
}

/* TODO AWAL BUTTON DI HEADER */
.tombol {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.btn {
  padding: 10px 30px;
  margin: 5px;
  font-family: Arial;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
}

.btn-one {
  background-color: rgba(43, 136, 43, 0.5);
  color: white;
}

.btn-two {
  background-color: rgba(141, 30, 30, 0.459);
}

.btn-one:hover {
  background-color: rgba(116, 0, 170, 0.384);
}

.btn-two:hover {
  background-color: rgba(3, 0, 158, 0.377);
  color: white;
}
/* TODO AKHIR BUTTON DI HEADER */
/* TODO AKHIR MAIN-HEADER */
/* TODO AKHIR HEADER  */

/* TODO AWAL CONTENT PERTAMA */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box img {
  float: left;
  padding-right: 10px;
  margin-left: 20px;
}

.box p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 25px;
  margin-left: 20px;
  color: white;
}
/* TODO AKHIR CONTENT PERTAMA */

/* TODO AWAL CONTENT KE DUA */
.content2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box2 {
  margin-right: 10px;
  margin-top: 50px;
}

.box2 h1 {
  text-shadow: 3px 2px 1px black;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.box2 p {
  margin-left: 10px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 25px;
  color: white;
}

.button {
  margin-left: 400px;
  margin-right: 400px;
  padding: 50px;
}

.button a {
  padding: 10px;
  font-family: Arial;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
  border: 1px solid white;
  background-color: rgba(100, 87, 30, 0.651);
  transition: 0.6s ease;
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
}

.button a:hover {
  background-color: rgba(53, 145, 59, 0.527);
  color: rgb(255, 255, 255);
}
/* TODO AKHIR CONTENT KE DUA */

/* TODO AWAL FOOTER */
.footer {
  display: grid;
  grid-auto-columns: auto;
  padding: 2px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.footer p {
  color: white;
  font-weight: bold;
  text-align: center;
}
/* TODO AKHIR FOOTER */
