.jumbotron {
  height: 580px;
  overflow: hidden;
}

.jumbotron.jumbotron-fluid .container img {
  width: 25%;
}

section {
  min-height: 400px;
}

.navbar {
  box-shadow: 0px 4px 5px rgba(0, 255, 255, 0.5);
}

.about .pKiri,
.about .pKanan {
  opacity: 0;
  transform: translate(-50px, 0) rotate(15deg);
  transition: 1s;
}

.about .pKanan {
  transform: translate(50px, 0) rotate(-15deg);
}

.about .pKiri.pMuncul,
.about .pKanan.pMuncul {
  opacity: 1;
  transform: translate(0, 0);
}

.portfolio .card {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 0.5s;
}

.portfolio .card.muncul {
  opacity: 1;
  transform: translate(0, 0);
}
